<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="title">CODM Weapon Inventory</div>
        <nav>
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
        </nav>
    </header>
    <main>
        <h1>Manage Items</h1>
        <section>
            <h2>Weapon List</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Effective Range</th>
                        <th>Damage</th>
                        <th>Fire Rate</th>
                        <th>Accuracy</th>
                        <th>Mobility</th>
                        <th>Control</th>
                        <th>Reload Speed</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(item => { %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.description %></td>
                            <td><%= item.effective_range %>m</td>
                            <td><%= item.damage %></td>
                            <td><%= item.fire_rate %></td>
                            <td><%= item.accuracy %></td>
                            <td><%= item.mobility %></td>
                            <td><%= item.control %></td>
                            <td><%= item.reload_speed %>s</td>
                            <td><%= item.category_name %></td>
                            <td>
                                <form action="/items/delete/<%= item.id %>" method="POST" style="display:inline;">
                                    <button type="submit" class="delete-button" onclick="return confirm('Are you sure?')">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
        
        <section>
            <h2>Add Weapon</h2>
            <form action="/items/create" method="POST" class="add-form">
                <div class="grid-container">
                    <label for="name">
                        <span>Name:</span>
                        <input type="text" name="name" id="name" placeholder="Item Name" required>
                    </label>
                    <label for="name">
                        <span>Description:</span>
                        <input type="text" name="description" id="description" placeholder="Description" required>
                    </label>
                    <label for="effective_range">
                        <span>Effective Range:</span>
                        <input type="text" name="effective_range" id="effective_range" placeholder="Effective Range (e.g. 30)" required>
                    </label>
                    <label for="damage">
                        <span>Damage:</span>
                        <input type="text" name="damage" id="damage" placeholder="Damage 1-100 (e.g. 65)" required>
                    </label>
                    <label for="fire_rate">
                        <span>Fire Rate:</span>
                        <input type="text" name="fire_rate" id="fire_rate" placeholder="Fire Rate 1-100 (e.g. 90)" required>
                    </label>
                    <label for="accuracy">
                        <span>Accuracy:</span>
                        <input type="text" name="accuracy" id="accuracy" placeholder="Accuracy 1-100 (e.g. 65)" required>
                    </label>
                    <label for="mobility">
                        <span>Mobility:</span>
                        <input type="text" name="mobility" id="mobility" placeholder="Mobility 1-100 (e.g. 90)" required>
                    </label>
                    <label for="control">
                        <span>Control:</span>
                        <input type="text" name="control" id="control" placeholder="Control 1-100 (e.g. 65)" required>
                    </label>
                    <label for="reload_speed">
                        <span>Reload Speed:</span>
                        <input type="text" name="reload_speed" id="reload_speed" placeholder="Reload Speed (e.g. 2.1)" required>
                    </label>
                </div>
                
                <select name="category_id" required>
                    <option value="" disabled selected>Select Category</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                </select>

                <button type="submit">Add Item</button>
            </form>
        </section>
    </main>
</body>
</html>
